body{
    margin: 0;
    padding: 0;
    background-image:url(./image/picture.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 68px;
    font-weight: lighter;
    color:rgb(174, 111, 111);
    text-align: center;
}
.main{
    width: 50%;
    margin: 0 auto;
}